In [1]:
# preparing the environment
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

np.random.seed(0)

In [2]:
# read in the file
df = pd.read_csv('ks-projects-201801.csv')
df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

# Missing Values

In [4]:
# preview of missing values
missing_values_count = df.isnull().sum()
print(missing_values_count)

ID                     0
name                   4
category               0
main_category          0
currency               0
deadline               0
goal                   0
launched               0
pledged                0
state                  0
backers                0
country                0
usd pledged         3797
usd_pledged_real       0
usd_goal_real          0
dtype: int64

4 values are missing in column "names", 3793 values are missing in column "usd pledged"

In [5]:
# missing values in percentage
print((missing_values_count/len(df)) * 100)

ID                  0.000000
name                0.001056
category            0.000000
main_category       0.000000
currency            0.000000
deadline            0.000000
goal                0.000000
launched            0.000000
pledged             0.000000
state               0.000000
backers             0.000000
country             0.000000
usd pledged         1.002744
usd_pledged_real    0.000000
usd_goal_real       0.000000
dtype: float64

In [6]:
# total missing value in percentage
total_cells = np.product(df.shape)
total_missing = missing_values_count.sum()

print((total_missing/total_cells) * 100, '%')

0.06692001552840139 %

0.067% of total values are missing, 0.0011% of values missing within "name", 1% of values missing within "usd pledged"

Let's take a closer look into the entries with missing values

In [8]:
# on "name"
missing_name = df[df.name.isnull()]
missing_name

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
166851,1848699072,NaN,Narrative Film,Film & Video,USD,2012-02-29,200000.0,2012-01-01 12:35:31,100.0,failed,1,US,100.00,100.00,200000.00
307234,634871725,NaN,Video Games,Games,GBP,2013-01-06,2000.0,2012-12-19 23:57:48,196.0,failed,12,GB,317.73,316.05,3224.97
309991,648853978,NaN,Product Design,Design,USD,2016-07-18,2500.0,2016-06-18 05:01:47,0.0,suspended,0,US,0.00,0.00,2500.00
338931,796533179,NaN,Painting,Art,USD,2011-12-05,35000.0,2011-11-06 23:55:55,220.0,failed,5,US,220.00,220.00,35000.00

Since these are still **real projects**, we are going to keep the projects with missing names

In [9]:
# on "usd pledged", we will sample 100 of these to explore
missing_usd_pledged = df[df['usd pledged'].isnull()]
missing_usd_pledged.sample(100)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
358526,896485300,Protecting Cedar Mesa’s Remnants of the Past –...,Film & Video,Film & Video,USD,2014-12-06,7500.0,2014-11-12 00:08:11,8729.00,undefined,0,"N,0""",NaN,8729.00,7500.00
78899,1401451303,Rebecca Lawrence's Solo Project,Music,Music,USD,2015-04-02,2000.0,2015-03-03 21:20:51,1.00,undefined,0,"N,0""",NaN,1.00,2000.00
91475,1464820550,The Love Will Not Be Defeated Tour,Music,Music,USD,2015-05-01,3000.0,2015-04-01 02:57:39,3045.00,undefined,0,"N,0""",NaN,3045.00,3000.00
18136,1092014622,Becoming a Woman Whose God is Enough - Teachin...,Film & Video,Film & Video,USD,2014-09-15,5325.0,2014-08-15 01:11:22,7525.00,undefined,0,"N,0""",NaN,7525.00,5325.00
233099,25481307,Oliveye's music album debut: Come Undone,Music,Music,CAD,2015-03-23,5000.0,2015-02-11 20:33:43,5167.00,undefined,0,"N,0""",NaN,4130.63,3997.12
3825,1019686062,Fairest the Musical Full Cast Concept Album,Music,Music,USD,2015-06-22,4000.0,2015-05-23 06:35:07,0.00,undefined,0,"N,0""",NaN,0.00,4000.00
13754,1069219698,Everyday Experts,Publishing,Publishing,GBP,2015-09-25,1500.0,2015-08-26 19:45:01,0.00,undefined,0,"N,0""",NaN,0.00,2276.49
28652,1145448158,"Orange Stuff ""Here"", album pre-sale",Music,Music,CAD,2014-10-25,4000.0,2014-09-10 15:37:55,4205.00,undefined,0,"N,0""",NaN,3729.82,3547.99
337884,791103538,Saturn's Rings (A Film by Jake Burgess),Film & Video,Film & Video,CAD,2016-04-17,3000.0,2016-03-03 00:04:02,5750.99,undefined,0,"N,0""",NaN,4516.25,2355.90
128804,1653954505,"""Say Hello"" Music Video",Film & Video,Film & Video,USD,2014-10-15,7635.0,2014-09-13 02:13:31,25.00,undefined,0,"N,0""",NaN,25.00,7635.00
111172,1564852784,"Aniana - Solo Debut LP ""Chapters""",Music,Music,USD,2016-04-29,5000.0,2016-03-30 16:39:44,5196.00,successful,0,"N,0""",NaN,5196.00,5000.00
203920,2038601447,Remnants (75 min),Film & Video,Film & Video,USD,2015-12-09,2000.0,2015-11-09 21:34:34,390.00,undefined,0,"N,0""",NaN,390.00,2000.00
150953,1767053626,Follow Me & Be Led,Music,Music,USD,2015-08-30,5000.0,2015-07-31 16:38:07,0.00,undefined,0,"N,0""",NaN,0.00,5000.00
205633,2047453751,Lady Deli's Cusine,Publishing,Publishing,USD,2016-01-22,7500.0,2015-12-23 18:00:20,185.00,undefined,0,"N,0""",NaN,185.00,7500.00
125141,1635339236,What a Life,Publishing,Publishing,USD,2015-05-31,5000.0,2015-04-01 19:14:19,0.00,undefined,0,"N,0""",NaN,0.00,5000.00
349553,8510060,LEILIA - OTHER OTHER EP + PHOTOSHOOT,Music,Music,USD,2014-12-30,9000.0,2014-12-06 02:20:03,9336.00,undefined,0,"N,0""",NaN,9336.00,9000.00
59695,1303587794,Get a Job,Publishing,Publishing,AUD,2015-08-06,2000.0,2015-07-07 12:00:37,714.00,undefined,0,"N,0""",NaN,527.52,1477.65
173736,1883510708,"Nicolette: Masters, Performance and Album",Music,Music,GBP,2014-08-31,4000.0,2014-08-01 11:34:40,4135.00,undefined,0,"N,0""",NaN,6738.37,6518.37
242511,303364634,Business Etiquette and Social Skills Video Course,Film & Video,Film & Video,EUR,2015-10-01,1400.0,2015-09-01 08:23:45,0.00,undefined,0,"N,0""",NaN,0.00,1562.40
319130,695485612,I'm sick of being fat! Follow my journey.,Film & Video,Film & Video,GBP,2015-12-16,1000.0,2015-11-16 00:55:15,0.00,undefined,0,"N,0""",NaN,0.00,1491.20
271036,449003143,Pair,Publishing,Publishing,AUD,2015-05-10,9500.0,2015-04-10 02:28:50,0.00,undefined,0,"N,0""",NaN,0.00,7600.61
172587,1877765244,"A Samurai's Journey, Colorado Bound",Music,Music,USD,2015-08-02,2000.0,2015-07-03 04:24:41,25.00,undefined,0,"N,0""",NaN,25.00,2000.00
198599,2011234786,Electrophyde records needs your support,Music,Music,GBP,2015-10-24,2200.0,2015-09-24 20:54:21,100.00,undefined,0,"N,0""",NaN,153.40,3374.75
50680,1257982809,"Mike Pachelli - ""Fade To Blue""",Music,Music,USD,2015-11-28,7500.0,2015-10-24 16:11:40,7640.00,undefined,0,"N,0""",NaN,7640.00,7500.00
113085,1574602791,Winter's Out/ Rich Mocha 2 (videos and merchan...,Music,Music,USD,2015-04-02,3000.0,2015-02-16 17:08:11,84.00,undefined,0,"N,0""",NaN,84.00,3000.00
103709,1527200464,Love Cuts Deep,Film & Video,Film & Video,USD,2015-03-18,5000.0,2015-02-16 06:36:33,590.00,undefined,0,"N,0""",NaN,590.00,5000.00
160350,1815566864,Buiten spelen: piano's op treinstations in Ned...,Music,Music,EUR,2014-12-04,1250.0,2014-10-29 14:39:15,1263.00,undefined,0,"N,0""",NaN,1561.32,1545.25
359515,901592451,Reggae Music Artist Katapul Asking For Funds F...,Music,Music,USD,2015-01-31,2000.0,2015-01-26 22:17:05,21.00,undefined,0,"N,0""",NaN,21.00,2000.00
353428,870388207,A Rose In The Blue - Debut album by Nathan Cal...,Music,Music,USD,2016-01-30,3000.0,2015-12-01 01:52:24,3125.00,undefined,0,"N,0""",NaN,3125.00,3000.00
186254,1948089861,When Lies Meet Truth,Film & Video,Film & Video,USD,2014-10-02,5000.0,2014-08-18 04:19:58,0.00,undefined,0,"N,0""",NaN,0.00,5000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155481,1790899960,Movie Night on the Creek,Film & Video,Film & Video,USD,2014-09-05,5700.0,2014-07-24 20:01:22,5700.00,undefined,0,"N,0""",NaN,5700.00,5700.00
231712,247730811,The Tudor Deck,Film & Video,Film & Video,USD,2015-03-11,5000.0,2015-02-10 20:43:19,160.00,undefined,0,"N,0""",NaN,160.00,5000.00
66330,1337377437,Jade Lathan - 'Daily Dose' Album Release,Music,Music,USD,2015-02-27,3000.0,2015-01-28 22:01:32,150.00,undefined,0,"N,0""",NaN,150.00,3000.00
47954,1244477824,Statpedia - The Collaborative Search Engine fo...,Software,Technology,USD,2012-12-14,500.0,2012-11-14 10:48:14,500.00,undefined,0,"N,0""",NaN,500.00,500.00
164976,1839618703,Joshua Prior - Debut Full Length Album,Music,Music,USD,2015-02-25,3500.0,2015-01-26 19:41:28,181.00,undefined,0,"N,0""",NaN,181.00,3500.00
376970,991409513,Chris Copeland's First EP,Music,Music,USD,2015-02-28,5500.0,2015-01-29 02:58:24,5763.00,undefined,0,"N,0""",NaN,5763.00,5500.00
117131,1594899338,A State Away,Film & Video,Film & Video,USD,2015-02-26,2000.0,2015-01-27 18:10:57,2060.00,undefined,0,"N,0""",NaN,2060.00,2000.00
109115,1554531273,Old Whiskey Road - New Album Pre-Sale!,Music,Music,CAD,2015-05-16,1500.0,2015-04-16 02:25:47,1703.00,undefined,0,"N,0""",NaN,1395.90,1229.51
145140,1737387597,Arsee & Jesse,Film & Video,Film & Video,CAD,2015-01-09,1500.0,2014-11-10 18:06:00,25.00,undefined,0,"N,0""",NaN,21.15,1269.04
2733,1014100655,Iron Butterflies & Ugly Fish,Publishing,Publishing,USD,2015-04-15,5000.0,2015-02-14 20:03:56,10.00,undefined,0,"N,0""",NaN,10.00,5000.00
324207,721325628,Eastlake Music Festival 2015,Music,Music,USD,2015-01-12,3000.0,2014-12-14 22:50:18,3466.00,undefined,0,"N,0""",NaN,3466.00,3000.00
89237,1453466556,Vocal Rush Takes Manhattan: Help Fund Our Comp...,Music,Music,USD,2015-04-01,5000.0,2015-03-02 20:31:36,5466.00,undefined,0,"N,0""",NaN,5466.00,5000.00
117089,1594709653,Jazzmine Farol's Debut Album!,Music,Music,USD,2015-11-06,3000.0,2015-10-07 22:23:34,3298.00,undefined,0,"N,0""",NaN,3298.00,3000.00
272656,457273958,The Lost Forty Project,Music,Music,USD,2016-04-08,6000.0,2016-03-07 17:58:26,7137.00,undefined,0,"N,0""",NaN,7137.00,6000.00
41482,1211162649,Reverend Yolanda's Old Time Gospel Hour THE MOVIE,Film & Video,Film & Video,USD,2014-08-31,5000.0,2014-07-31 17:43:47,5751.00,undefined,0,"N,0""",NaN,5751.00,5000.00
265892,422612763,Cosplay Empire,Film & Video,Film & Video,USD,2015-10-11,4000.0,2015-09-11 04:05:08,0.00,undefined,0,"N,0""",NaN,0.00,4000.00
248850,335640769,Vlad's New Guitar Sample Library,Music,Music,GBP,2015-07-12,3000.0,2015-06-13 15:39:04,60.00,undefined,0,"N,0""",NaN,93.56,4678.07
315413,676612276,"Reflections of an Orange Tree, Carlos Naranjo'...",Music,Music,USD,2015-12-10,6700.0,2015-11-10 23:28:23,7715.00,undefined,0,"N,0""",NaN,7715.00,6700.00
168014,1854737165,Help Madeleine Dopico Make Her First Album/EP,Music,Music,USD,2015-12-05,3000.0,2015-11-05 01:09:19,5875.00,undefined,0,"N,0""",NaN,5875.00,3000.00
350508,855622769,Help support the future of Music Production!,Music,Music,EUR,2015-10-28,2000.0,2015-09-28 19:10:55,0.00,undefined,0,"N,0""",NaN,0.00,2203.40
115704,1587464468,Print Pictures - Family Documentaries,Film & Video,Film & Video,USD,2016-01-06,8000.0,2015-12-19 23:09:16,336.00,undefined,0,"N,0""",NaN,336.00,8000.00
67057,1341207619,American Hunting Dog Association AHDAtv,Film & Video,Film & Video,USD,2015-09-04,2500.0,2015-08-05 17:55:53,5.00,undefined,0,"N,0""",NaN,5.00,2500.00
366373,93672476,Directed by ANDE (2015),Film & Video,Film & Video,USD,2015-03-11,1100.0,2015-02-09 18:48:02,1146.00,undefined,0,"N,0""",NaN,1146.00,1100.00
206613,2052670043,life and times of Antony Wallace pt1 funding f...,Publishing,Publishing,USD,2015-12-15,3000.0,2015-11-15 00:29:33,0.00,undefined,0,"N,0""",NaN,0.00,3000.00
213846,2089754188,The Love Machine,Film & Video,Film & Video,GBP,2015-07-07,3000.0,2015-06-07 02:30:00,0.00,undefined,0,"N,0""",NaN,0.00,4655.28
299606,595672045,SONOVA Presents Les Mis,Music,Music,USD,2015-02-18,4000.0,2014-12-20 14:16:24,4621.00,undefined,0,"N,0""",NaN,4621.00,4000.00
23814,112092826,Confused in China (Chinese React to Western Cu...,Film & Video,Film & Video,USD,2016-03-02,2000.0,2016-02-16 21:14:43,0.00,undefined,0,"N,0""",NaN,0.00,2000.00
129563,1657806622,Montreal Sans Abris,Film & Video,Film & Video,CAD,2014-12-13,10000.0,2014-10-14 21:28:34,0.00,undefined,0,"N,0""",NaN,0.00,8623.66
235704,268220636,Daniel Halligan's New album ‘The Staircase’,Music,Music,USD,2015-04-12,3000.0,2015-03-13 18:41:56,262.00,undefined,0,"N,0""",NaN,262.00,3000.00
56798,128897251,Charlie V. first solo albu?,Music,Music,EUR,2015-12-10,2000.0,2015-11-10 00:27:35,20.00,undefined,0,"N,0""",NaN,21.90,2190.00

Seems like these missing values are actually missing, considering the portion is very small, they might be dropped before visual analysis

Also, there is something odd about the column, "country", let's take a closer look

In [11]:
# Check for unique values in categorical columns to see if there is anything unusual 
print(df.country.unique())

['GB' 'US' 'CA' 'AU' 'NO' 'IT' 'DE' 'IE' 'MX' 'ES' 'N,0"' 'SE' 'FR' 'NL'
 'NZ' 'CH' 'AT' 'DK' 'BE' 'HK' 'LU' 'SG' 'JP']

Within "country", there is an odd value - 'N,0"', let's inspect that

In [12]:
# let's first see how many of them are there
len(df[df.country == 'N,0"'])

3797

In [13]:
# this looks familiar
len(df[df['usd pledged'].isnull()])

3797

It's highly likely that the "NaN" in "usd pledged" co-occur with the 'N,0"' in "country", let's test that

In [14]:
df_this = df[df.country == 'N,0"']
df_that = df[df['usd pledged'].isnull()]
# same ID, same entry
(df_this.ID != df_that.ID).sum()

0

The test confirmed the assumption

According to the data set overview on Kaggle (https://www.kaggle.com/kemical/kickstarter-projects/home), "usd pledged" come from a conversion through a set of algorithm developed by KickStarters, and "usd_pledged_real" come from a conversion through some other algorithm. The fact that only "usd pledged" is missing and not "usd_pledged_real" implies that "usd pledged" is missing due to issues with the KickStarter's conversion algorithm, not due to missing source data (data before conversion). Because "usd_pledged_real" has the same meaning as "usd pleged" and we can just use the former whenever appropriate, we don't necessarily have to remove the entries missing "usd pledged".

However, we might still need to drop somthing - since this project aims to build a model that predict the success chance a projects, we need to drop the **projects that haven't reached an eventual state** yet. Let's inspect the "state" column before further decisions

In [15]:
# 'state'
df.state.value_counts()

failed        197719
successful    133956
canceled       38779
undefined       3562
live            2799
suspended       1846
Name: state, dtype: int64

Judging by the value counts of the "state", we will keep the failed, successful and canceled projects. Following are the reasons to drop the rest
- "undefined": no conclusion can be made on the eventual states of the projects
- "live": the projects are still in progress, thus no conclusion can be made on the eventual states of the projects
- "suspended": chances are the suspensions would end and the projects can be live again, thus no conclusion can be made on the eventual states of the projects

In [16]:
# how many projects will be dropped
df_drop = df[(df.state=='live') | (df.state=='undefined') | (df.state=='suspended')]
amount_drop = df_drop.state.value_counts().sum()
print(amount_drop, " of entries will be dropped")
print("which accounts for ", (amount_drop/len(df)) * 100, "% of original data volume")

8207  of entries will be dropped
which accounts for  2.167373983589543 % of original data volume

In [17]:
# drop the entries 
print("length of original data frame: ", len(df))
indices = df[(df.state=='live') | (df.state=='undefined') | (df.state=='suspended')].index
df = df.drop(indices)
print("length of data frame after dropping the undesired entries",len(df))

length of original data frame:  378661
length of data frame after dropping the undesired entries 370454

In [18]:
# let's inspect the "state" column in new df
df.state.value_counts()

failed        197719
successful    133956
canceled       38779
Name: state, dtype: int64

Now we have to fixed the weird value, 'N,0"', in "country" column, one strategy is to replace the value based on it's currency (infer country based on currency). However, **one currency might be used by multiple countries**, such as Euro. Moreover, **some projects from countries with other currencies might pledge in us dollars due to it's popularity**. Therefore, this is not the safest strategy

Another strategy is to categorize these entries, in the "country" column, as "unknown". This approach, without making any assumption, will avoid asignment errors. If the portion of the data with 'N,0"' is small, then this approach is more desirable.

In [19]:
# let's take a closer look then
df_inspect = df[df.country == 'N,0"']
print(len(df_inspect), ' projects have this oddity in "country" column')
print('which accounts for only', (len(df_inspect)/len(df))*100, '% of the data volume')

232  projects have this oddity in "country" column
which accounts for only 0.0626258590810195 % of the data volume

Therefore, changing 'N,0"' into "unknow" will be our strategy

In [20]:
# change 'N,0"' into 'unknown' in "country" column
df = df.replace(['N,0"'], "unknown")
df.country.value_counts()

US         289671
GB          33215
CA          14508
AU           7681
DE           4057
FR           2873
NL           2807
IT           2775
ES           2204
SE           1718
MX           1632
NZ           1425
DK           1083
IE            793
CH            736
NO            694
BE            597
AT            576
HK            564
SG            521
unknown       232
LU             61
JP             31
Name: country, dtype: int64

Now let's drop a couple columns, the justifications are as below 
- "goal": the analysis will be using "usd_goal_real", which is "goal" converted into usd 
- "usd pledged": some values missing, also the analysis will be using "usd_pledged_real"
- "pledged": the analysis will be using "usd_pledged_real", which is "pledged" converted into usd

In [21]:
# dropping columns
df = df.drop(columns=['goal', 'usd pledged', 'pledged'])
df.columns

Index(['ID', 'name', 'category', 'main_category', 'currency', 'deadline',
       'launched', 'state', 'backers', 'country', 'usd_pledged_real',
       'usd_goal_real'],
      dtype='object')

# Dates
There appears to be two date columns - "deadline" and "launched", convert them into datetime object if necessary

In [23]:
# deadline
print(df.deadline.head(), '\n')
# launch date
print(df.launched.head())

0    2015-10-09
1    2017-11-01
2    2013-02-26
3    2012-04-16
4    2015-08-29
Name: deadline, dtype: object

0    2015-08-11 12:12:28
1    2017-09-02 04:43:57
2    2013-01-12 00:20:50
3    2012-03-17 03:24:11
4    2015-07-04 08:35:03
Name: launched, dtype: object

### Parsing Dates

In [24]:
# deadline
parsing_deadline = pd.to_datetime(df.deadline, format="%Y-%m-%d")

# parse into year to see differences across years
df['deadline_year'] = parsing_deadline.dt.year

# parse into month to see seasonal differences
df['deadline_month'] = parsing_deadline.dt.month

# launch_date
parsing_launch = pd.to_datetime(df.launched, format='%Y-%m-%d')

# parse into year to see differences across years
df['launch_year'] = parsing_launch.dt.year

# parse into month to see differences across months
df['launch_month'] = parsing_launch.dt.month

In [25]:
# let's look at the new df's head rows
df.head()

,ID,name,category,main_category,currency,deadline,launched,state,backers,country,usd_pledged_real,usd_goal_real,deadline_year,deadline_month,launch_year,launch_month
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,2015-08-11 12:12:28,failed,0,GB,0.0,1533.95,2015,10,2015,8
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,2017-09-02 04:43:57,failed,15,US,2421.0,30000.00,2017,11,2017,9
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,2013-01-12 00:20:50,failed,3,US,220.0,45000.00,2013,2,2013,1
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,2012-03-17 03:24:11,failed,1,US,1.0,5000.00,2012,4,2012,3
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,2015-07-04 08:35:03,canceled,14,US,1283.0,19500.00,2015,8,2015,7

In [27]:
# information on df
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 370454 entries, 0 to 378660
Data columns (total 16 columns):
ID                  370454 non-null int64
name                370451 non-null object
category            370454 non-null object
main_category       370454 non-null object
currency            370454 non-null object
deadline            370454 non-null object
launched            370454 non-null object
state               370454 non-null object
backers             370454 non-null int64
country             370454 non-null object
usd_pledged_real    370454 non-null float64
usd_goal_real       370454 non-null float64
deadline_year       370454 non-null int64
deadline_month      370454 non-null int64
launch_year         370454 non-null int64
launch_month        370454 non-null int64
dtypes: float64(2), int64(6), object(8)
memory usage: 48.0+ MB

In [28]:
# Now write df to csv
df.to_csv("ks-projects-201801-ready.csv", encoding = "utf-8 ")